@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Estonia&family=Lato:ital,wght@1,300&family=Liter&family=Meow+Script&family=Montserrat:ital@0;1&family=Mr+Dafoe&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Updock&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, #000000, #006400);
    width: 100%;
    height: 100%;
    min-height: 100vh; 
    background-color: hsl(0, 0%, 0%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1px;
    padding: 0 20px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav img {
    width: 200px;
    height: 70px;
    margin: 0;
    margin-top: 10px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 45px;
    align-items: center;
}

header nav ul li {
   color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 0;
   gap: 10px;
   position: relative;
      transition: all 0.3s ease;
}
header nav ul li:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #ffffff;
    transform: translateY(-2px);
}

input {
    width: 270px;
    height: 32px;
    border-radius: 20px;
    border: none;
    padding: 0 10px;
    margin: 0;
}

button {
   display: flex;
    cursor: pointer;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    padding-top: 5px;
    gap: 20px;
    font-weight: 400;
    font-size:larger;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
   margin-right: 10px;
   transition: all 0.3s ease;
   
}
button:hover{
   
    text-underline-offset: 4px;
    transform: translatey(-2px);
}
.btn1 {
    display: flex;
    gap: 20px;
    
}

.btn2 {
    display: flex;
    padding-left: 30px;
    padding-right: 20px;

}
  h1{
    margin-top: 40px;
    margin-left: 390px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
     font-family: "Playfair Display", serif;
  }
  p{
    margin-left: 390px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    font-size: larger;
    font-weight: 300;
  }
  .card{
    width: 300px;
    height: 400px; 
    background-color: white;
    margin-left: 60px;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
   display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    position: relative;
    transition: all 0.3s ease;
    
  }
.card:hover{
    
    transform: translatey(-30px);
}
  

  .card h2{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 10px;
   padding-top: 20px;
    letter-spacing: 1px;
    
  }
  .price{
    color: black;
    padding-left: 120px;
    font-size: 25px;
  
 
  }
  .oldprice{
    color: black;
    padding-left: 120px;
    font-size: 20px;
    text-decoration-line: line-through ;
    
  }
  .duration{
    color: black;
    padding-left: 120px;
    

  }

  .wrapper ul li{
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
  }
  .wrapper a{
    margin-left: 100px;
    color: black;
    font-size: 20px;
    margin-bottom: 4px;
  }
  .wrapper{
       display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
 .upper_footer{
   
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-top: 4px;
    

 }
 footer{
    margin-top: 300px;
    
display: flex;
  background-color: rgba(0, 0, 0, 0.621);
    flex-direction: column;
    border-radius: 5px;
 }
 .middle-footer {
    flex-wrap: wrap;
    display: flex;
 gap: 120px;
    margin-top: 40px;
      margin-left: 10px;
    width: 100%;
}

.middle-footer  ul {
    display: flex;
    flex-direction: column;
    

}

.middle-footer  li {
    display: flex; 
    gap: 40px;
    padding: 10px 0; 
    cursor: pointer;
}

.bottom-footer {
    display: flex;
    justify-content: center; 
    margin-top: 30px;
    width: 100%;

}
